body {
	font-family: 'Lato', sans-serif;
	background-color: black;
	color: white;
	font-weight: 300;
}

hr {
	border-width: 5px;
	border-color: white;
}

.text-muted {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 30px;
}

.fw-top {
	margin-top: 50px; 
}